<ion-header no-border>
    <ion-toolbar>

        <ion-buttons left>
            <button ion-button icon-only (click)="onBackPressed()">
            <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Details</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="onEditPressed()">
              <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button icon-only (click)="onDeletePressed()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="background: #E3DFD6">

    <div class="content_detail">
        <img src="assets/img/student.png" class="img_avatar" />

        <ion-card>
            <ion-card-header>
                <ion-item>
                    <ion-icon name="ionitron" item-left></ion-icon>
                    <h1><b>{{student_data.name}}</b></h1>
                    <p>{{department_string}}</p>
                </ion-item>
            </ion-card-header>
            <hr>
            <ion-grid>

                <ion-row>
                    <ion-col>
                        <h2><b>CGPA</b></h2>
                        <p>{{student_data.cgpa}}</p>
                    </ion-col>
                    <ion-col>
                        <h2><b>Roll Number</b></h2>
                        <p>{{student_data.roll_number}}</p>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-item>
                    <ion-icon name="school" item-left></ion-icon>
                    <h1><b>Placement Details</b></h1>
                    <p>Companies applied for</p>
                </ion-item>
            </ion-card-header>
        
            <ion-list-header>
                Upcoming
            </ion-list-header>
            <ion-label center *ngIf="upcomingCompanies.length==0" style="text-align:center"> No upcoming placements</ion-label>
            <ion-list *ngFor="let item of upcomingCompanies" inset>
                <ion-item>
                    <ion-label>{{ item.name }}</ion-label>
                    <ion-label item-right>{{ getDateString(item.placement_date)}}</ion-label>
                </ion-item>

            </ion-list>
            <ion-list-header>
                Past
            </ion-list-header>
            <ion-label center *ngIf="pastCompanies.length==0" style="text-align:center"> No past placements</ion-label>
            <ion-list *ngFor="let item of pastCompanies" inset>

                <ion-item>
                    <ion-label>{{ item.name }}</ion-label>
                    <ion-label item-right>{{ getDateString(item.placement_date)}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>




</ion-content>